/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
   font-family: sans-serif;
   background-color: #B1A296;
 }

 nav {
   background-color: #7395AE;
   text-align: right;
   padding-right: 100px;
   height: 50px;
 }

 .nav_list {
   list-style-type: none;
 }

 .nav_link {
   display: inline;
   float: right;
   padding: 8px 16px 24px;
   font-weight: bold;
 }

 .nav_link a {
   text-decoration: none;
 }

 .index_listing a {
   color: #5D5C61;
   font-size: 200%;
   text-decoration: none;
 }

 li a {
   color: #5D5C61;
 }

 li a:hover {
   color: #BC986A;
 }

 a {
   color: #557A95;
 }

 a:hover {
   color: #379683;
 }

 h1 {
   text-align: center;
   color: #5D5C61;
 }

 input {
   width: 100%;
 }

 input[type=submit] {
   padding: 12px;
   margin-top: 100px;
   background-color: #5D5C61;
 }

 label {
   width: 100%;
   font-weight: bold;
 }

 img {
   height: 200px;
   display: block;
 }
